@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

body {
  padding-top: 4rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Pixelify Sans', sans-serif
  , 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-1);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-1: #020204;
  --color-2: #F9F871;
  --color-3: #F5AE60;
  --color-4: #C97264;
  --color-5: #83495B;
  --color-6:#3B2A3B;

}


